@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="text-center">
    <h1 class="display-4">Welcome </h1>
</div>

<form method="post" class="needs-validation" novalidate>
    <div class="row align-items-center">
        <div class="col-sm">
            <label asp-for="Fizz.Value"></label>
        </div>

    </div>
    <div class="form-row align-items-center">
        <div class="col-sm">
            <input asp-for="Fizz.Value" />
        </div>

    </div>

    <span asp-validation-for="Fizz.Value" class="text-danger"></span>
    <div class="row align-items-center">
        <div class="col-sm">
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
    </div>

</form>

@if (Model.Fizz != null && ModelState.IsValid)
{
        <p>@Model.Fizz.GetResult()</p>
}