@page
@model Fizz.Pages.LastFizzModel
@{
    ViewData["Title"] = "Last Fizz";
}
<h1>@ViewData["Title"]</h1>
<p>Date storage in session</p>
@if (Model.Fizz != null)
{
    <p>Input: @Model.Fizz.Value @Model.Fizz.GetResult()</p>
    <p>@Model.Fizz.Date</p>
}